*{
  box-sizing: border-box;
  margin: 0;
}


.nav{
  width:100%;
  background-color: #3c4859;
  height: 60px;
  width: 100%;
  text-align: center;
  line-height: 60px;
  border-top: 3px solid orange;
}
.container{
  width: 80vw;
  height: 100%;
  }
.navbar >  ul > *{
  float: left;
  list-style-type: none;
  padding-right: 40px;
  color: white;
}

.icon > i.fab{
  color: orange;
  height:50px;
  width: 50px;
}
nav::after{
  clear: both;
  content: "";
  display: table;
}
section{
  margin: auto;
  width: 100%;
  }

.section{
  height: 80px;
  line-height: 80px;
  background-color: #EAF2F8;
  border: 1px solid #33475b;
  width:  100%;
  text-align: center;
  }
  .section::after{
    clear: both;
    content: "";
    display: table;
  }

.container-lightblue{
  width: 60vw;
  height: 100%;
  margin: auto;
  }
  .navbar-left > *{
    float: left;
    height: 100%;
}
  .navbar-right > *{
    float: right;
    height: 100%;
  }
  button{
    display: inline-block;
    background-color: #ff7a59;
    color: white;
    padding: 5px;
  }
  div.block-down > *{
    margin-bottom: 10px;
  }
  li.english{
    padding: 5px;
  }
  li.english{
    border-right: 1px solid grey;
    padding: 5px;
    float: left;
  }
  .container-white{
    width: 60vw;
    height: 100%;
    margin: auto;
    }

  .navbar-left-white > *{
    float: left;
    height: 100%;
  }
  .navbar-right-white > ul > li{
    float: right;
    height: 100%;
    color: #3c4859;
  }
  li.white{
    padding-right: 30px;

  }
  li.white{
    color: #3c4859;
  }
   #hubspot{
    background-color: #ff7a59;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
  .right-white{
    margin-left: 50px;
  }
  .section-white{
    border: 1px solid #33475b;
    height: 80px;
    width:  100%;
    line-height: 80px;
    text-align: center;
    margin: auto;
  }
  .navbar-right-white::after{
    clear: both;
    content: "";
    display: table;
  }
  div.sky-blue  {
width: 100%;
text-align: left;
padding: 100px;
background-color: #279AF1;
color: white;
}
  div.sky-blue > div.sky{
  width: 40%;

  }
  div.sky-blue > div.sky> h1{
    font-size:  3.4375rem;
    margin-bottom: 50px;
  }
  div.sky-blue > div.sky > p{
          font-size:  1em;
          margin-bottom: 50px;
  }
 #button-sky{
            background-color: white;
            margin-bottom: 50px;
            color: #3c4859;
            padding: 30px 50px 30px;
            border-radius: 5px;
  }
.powerful{
  width: 100%;
  text-align: center;
  background-color: #E9EAEA;
}
.powerful > *{
  margin-bottom: 50px;
}
.powerful > img{
  width: 260px;
  height: 194px;
  margin-top: 100px;
}
.powerful > img, h2, p{
  margin-bottom: 20px;
}
.block{
  width: 75%;
  margin: auto;
}
#block-img{
  width: 260px;
  height: 194px;
}
.block1{
  background-color: white;
}
.block1 > *{
  float: left;
padding: 10px;
}
.block1-left{
  width: 39%;

}
.block1-right{
  width: 58%;
  text-align: left;

}
.block1::after{
  clear: both;
  content: "";
  display: table;
}
.nav-powerful > ul > li{
  float: left;
  margin: 15px;
}
.block2{
  width: 100%;
  margin-top: 20px;
  background-color: white;

}
.block2 > *{
  float: left;
  width: 33.3333%;

}
#2{
  width: 233px;
  height: 150px;
}
div.sky-blue  {
width: 100%;
text-align: center;
padding: 100px;
background-color: #279AF1;
color: white;
position: relative;
display: inline-block;
margin: auto;

}


.block2::after{
  clear: both;
  content: "";
  display: table;
}
div.sky-blue1  {
width: 100%;
text-align: center;
padding: 100px;
background-color: #279AF1;
color: white;
position: relative;
display: inline-block;
margin: auto;
margin-top: 50px;
}


}
div.sky-blue1 >  h1{
  font-size:  3.4375rem;
  margin-bottom: 50px;
}
div.sky-blue1 >  p{
        font-size:  1em;
        margin-bottom: 50px;
}
.container-1{
  width: 55%;
  text-align: center;
  margin: auto;
}
.container-2{
  width: 75%;
  text-align: center;
  margin: auto;
}

 .container-2 > .row > * {
   float: left;
   width: 25%;
 }
 .container > .row::after{
   clear: both;
   content: "";
   display: table;
 }



#skyblue-row{
  border: 1px solid white;
  padding:  40px 0 40px;
  border: 1px solid white;
}
#skyblue-row > img{
  width: 180px;
  height: 40px;
}


.row > *{
  width: 33%;
}
.sky-blue{

}
.clearfix{
  clear: both;
  content: "";
  display: table;
}
.section-white1{
  width: 75%;
  margin: auto;
}

.up > .half{
  float: left;
  width: 50%;
  text-align: left;
  padding: 30px;
  margin-top: 50px;
}
.box{
  float: left;
  width:25%;
  text-align: center;
  padding: 10px;


}
.box > img{
  height: 42px;
  width:74px;
}
.righthalf::after{
  clear: both;
  content: "";
  display: table;
}
.down > .half-down{
  float: left;
  width: 50%;
  margin-top: 200px;
  position: relative;
}
.down::after{
  clear: both;
  content: "";
  display: table;
}
#cinese{
  border-radius: 50%;
  height: 500px;
  width: 390px;
  background-color: #f2547d;
  text-align: center;
}

.lefthalf-down > *{
  padding: 30px 0 30px;
  text-align: left;
  margin-right: 50px;
}
.righthalf-down{
  text-align: center;
}
button#free{
  text-align: left;
}
section.blue{
  width: 100%;
  text-align: center;
  margin: auto;
  border: 1px solid black;
  margin-top: 50px;
  background-color: #33475b;
  color: #cbd6e2;
  padding: 0 30px 0;

}
.colonne{
  width: 25%;
  float: left;
}
.rows::after{
  clear: both;
  content: "";
  display: table;
}
.rows{
  background-color: #33475b;
  margin-top: 10px;

}
.colonne > ul > li{
  padding: 10px;
  list-style-type: none;
}
#first{
  font-weight: 700;
  color: white;
  font-size: 16px;

}
#button-cinese{
  text-align: left;
  position: relative;
  left: -110px;

}
