*{
  box-sizing: border-box;
  margin: 0;
}
nav{
  height: 60px;
  background-color: #3c4859;
  width: 100%;
  text-align: center;
  line-height: 60px;
  border-top: 3px solid orange;
}
.container{
  width: 80vw;
  height: 100%;
  }
.navbar > ul > *{
  float: left;
  list-style-type: none;
  padding-right: 40px;
  color: white;
}

.icon > i.fab{
  color: orange;
  height:50px;
  width: 50px;
}
nav::after{
  clear: both;
  content: "";
  display: table;
}
section {
  width: 100%;
  height: 80px;
}
section.lightblue{
  margin: auto;
  background-color: #C7E7FF;
  border: 1px solid black;
}
